
<!-- remember to call "python manage.py collectstatic" to update edited css -->
{% extends "base_generic.html" %}

{% block content %}
    <head>
        <!-- use to import required fonts-->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
        {% load static %}
        <!-- use to link css style sheet to this html so the classes can be used here-->
        <link rel="stylesheet" href="{% static 'css/tradeInput.css' %}">
        <!-- this line allows to be used on mobile phones-->
        <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">

        <!-- use to override <body> setup, defining background image-->
        <style>
            body {
                    background-image: url('/static/images/portfolioBackground1.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 100%;
                 }
            table, th, td {
                    text-align: center;
                    }

        </style>
    </head>

    <div class="user">
        <header class="user__header">
            <h1 class="user__title">Enter Trade Information</h1>
        </header>

        <form class="form" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form__group">
                <input type="text" class="form__input" placeholder={{ field.label }} name={{ form.name}} />
            </div>
            <!--<button class="btn" type="button">Register</button>-->
            {% endfor %}
            <input class="btn" type="button" value="Add Trade"/>
        </form>
    </div>
    <!-- load javascripts at end of html !!! -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script  type="text/javascript" src="{% static 'JS/tradeInput.js' %}"></script>

{% endblock %}

