{% extends "base_generic.html" %}

{% block content %}

    <head>
        <meta charset="utf-8" />
        <title>Table Style</title>
        <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
        <style>
            body {
                    background-image: url('/static/images/portfolioBackground1.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 100%;
                 }
            table, th, td {
                    text-align: center;
                    }
        </style>
        <!-- remember to python manage.py collectstatic to ensure static is updates -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/tradeTable.css' %}">
    </head>

    {% if trade_list %}
        <div class="table-title">
            <h3>Trade List</h3>
        </div>
        <table class="table-fill">
            <thead>
                <tr>
                  <th>Ticker</th>
                  <th>Long Name</th>
                  <th>Purchase Price</th>
                  <th>Total Investment</th>
                  <th>Purchase Date</th>
                  <th>Current Price</th>
                  <th>Price Change</th>
                  <th>PnL</th>
                  <th>PnL %</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                {% for trade in trade_list %}
                    <tr>
                        <td>{{trade.ticker}}</td>
                        <td>{{trade.long_name}}</td>
                        <td>{{trade.price}}</td>
                        <td>{{trade.total_investment_format}}</td>
                        <td>{{trade.timestamp}}</td>
                        <td>{{trade.current_price}}</td>
                        <td>{{trade.price_change}}</td>
                        <td>{{trade.pnl}}</td>
                        <td>{{trade.pnlPercent}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="table-title">
            <h3>There are no live trades.</h3>
        </div>

    {% endif %}
    <form>
        <button class=button formaction="{% url 'tradeInput' %}">Add New Trade</button>
    </form>
{% endblock %}