{% extends "base_generic.html" %}

{% block content %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/tradeTable.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            body {
                    background-image: url('/static/images/portfolioBackground1.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 100%;
                 }
            table, th, td {
                    text-align: center;
                    }
        </style>
        <!-- remember to python manage.py collectstatic to ensure static is updates -->
    </head>

    <div class = mainBlock>
    {% if trade_list %}
        <header class="mainBlock__header">
            <h1 class="mainBlock__title">Trade List</h1>
        </header>

        <table class="table-fill" align="center">
            <thead>
                <tr>
                  <th>Ticker</th>
                  <th>Long Name</th>
                  <th>Industry</th>
                  <th>Instrument</th>
                  <th>Average Portfolio Price</th>
                  <th>Current Price</th>
                  <th>Currency</th>
                  <th>Price Change</th>
                  <th>PnL</th>
                  <th>PnL %</th>
                  <th>Quantity</th>
                  <th>Total Investment</th>
                  <th>Purchase Date</th>
                  <th>Account</th>
                  <th></th>

                </tr>
            </thead>



            <tbody class="table-hover">
                {% for trade in trade_list %}
                    <tr>
                        <td>{{trade.ticker}}</td>
                        <td>{{trade.long_name}}</td>
                        <td>{{trade.industry}}</td>
                        <td>{{trade.instrument}}</td>
                        <td>{{trade.price}}</td>
                        <td>{{trade.current_price}}</td>
                        <td>{{trade.currency}}</td>

                        {% if trade.price_change|first == "-" %}
                             <td class="NegativeValue">{{trade.price_change}}</td>
                        {% else %}
                            <td class="PositiveValue">{{trade.price_change}}</td>
                        {% endif %}

                        {% if trade.pnl|first == "-" %}
                             <td class="NegativeValue">{{trade.pnl}}</td>
                        {% else %}
                            <td class="PositiveValue">{{trade.pnl}}</td>
                        {% endif %}

                        {% if trade.pnlPercent|first == "-" %}
                             <td class="NegativeValue">{{trade.pnlPercent}}</td>
                        {% else %}
                            <td class="PositiveValue">{{trade.pnlPercent}}</td>
                        {% endif %}

                        <td>{{trade.quantity}}</td>
                        <td>{{trade.total_investment_format}}</td>
                        <td>{{trade.timestamp}}</td>
                        <td>{{trade.account}}</td>

                        <td>
                            <form action="{% url 'portfolioEdit' %}" method='GET'>
                                <!-- assign name to input so that can identify which ticker the button was clicked for-->
                                <button type="submit" style="font-size:16px;background:#EBEBEB;border:0" name={{trade.ticker}} value=""><i class="fa fa-edit" style="font-size:16px"></i></button>
                            </form>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="table-title">
            <h3>There are no live trades.</h3>
        </div>

    {% endif %}
    <form>
        <button class=btn formaction="{% url 'tradeInput' %}">Add New Trade</button>
    </form>
    </div>

{% endblock %}