
.user {
  width: 90%;
  max-width: 340px;
  margin: 10vh auto;
}
.user__header {
  text-align: center;
  opacity: 0;
  transform: translate3d(0, 500px, 0);
  animation: arrive 500ms ease-in-out 0.7s forwards;
}
.user__title {
   color: #fafafa;
   font-size: 30px;
   font-weight: 500;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}

.form {
  margin-top: 40px;
  transform: translate3d(0, 800px, 0);
  animation: arrive 500ms ease-in-out 0.9s forwards;
}


/* Add this class to turn off animations used to load the original form so when refresh "shaker" animation it doesnt reload the form */
.form--overwrite {
  animation: none;
  opacity: 1;
  overflow: hidden;
  transform: none;
}

.form--no {
  animation: NO 1s ease-in-out;
  opacity: 1;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}


.form__input {
  display: block;
  width: 100%;
  padding: 20px;
  font-family: "Roboto";
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  transition: 0.3s;
  overflow: hidden;
}

/* use different class for top field so can have rounded edges. Problem is that if we applied the rounded edges to
"form" parent class, the overflow would need to be hidden, but this would then hide the calender from the date picker,
and there is no way to overwrite the parent. Thus create different classes so the overflow isnt applied to date picker */

.form__input__top {
  display: block;
  width: 100%;
  padding: 20px;
  font-family: "Roboto";
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  transition: 0.3s;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
}

.form__input__top:focus {
  background: #f7f7f7;
}

.form__input:focus {
  background: #f7f7f7;
}


.btn {
  display: block;
  width: 100%;
  padding: 20px;
  font-family: "Roboto";
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  color: #D5DDE5;
  background: #1b1e24;
  box-shadow: none;
  transition: 0.3s;
}
.btn:focus {
    outline: 0;
    box-shadow: none;
}
.btn:hover {
  background: #4E5066;
  color: white;
  outline: 0;
}

@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes arrive {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
